@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
button {
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 15px 28px;
  cursor: pointer;
}
header {
  background: rgba(229, 84, 115, 0.1);
}
.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
.section-heading {
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
}
.section-heading h2 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .banner-text * {
  margin-bottom: 32px;
  max-width: 525px;
}
.banner .banner-text h1 {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.banner .banner-img img {
  width: 100%;
  vertical-align: middle;
}
#featured {
  padding: 100px 0;
}
.section-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: end;
}
.flower-img {
  border-radius: 300px 300px 0px 0px;
  padding: 30px 25px 0;
  height: 500px;
  display: flex;
  align-items: end;
}
.flower-img img {
  width: 100%;
}
.pink {
  background: rgba(167, 33, 98, 0.15);
}
.blue {
  background: rgba(5, 151, 160, 0.15);
}
.green {
  background: rgba(71, 125, 17, 0.15);
}
.section-content p {
  color: #272727;
  text-align: center;
  margin-top: 16px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration-line: underline;
}
